html {
  font-size: 16px;
  font-family: "Helvetica", serif;
}

section {
  width: 100%;
  display: flex;
}

body section:nth-child(even) {
  background-color: #EAEBEC;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #1b202b;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-weight: 400;
  color: #4A4A4A;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

h5 {
  font-weight: 700;
  color: #4A4A4A;
  font-size: 2rem;
}

h6 {
  font-weight: 400;
  color: #1b202b;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #687083;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    line-height: 1.25;
    width: 90%;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1;
  }
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 27px;
}

#colmar {

  font-weight: 700;
  font-size: 1.2rem;
  color: #1b202b;
}

#academy {
  font-size: 1.2rem;
  font-weight: 300;
  color: #687083;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #1b202b;
}

nav.mobile {
  display: none;
}


@media only screen and (max-width: 768px) {
  header .logo,
  header nav {
    display: none;
  }

  nav.mobile,
  nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
}

section.banner {
  top: 64px;
}

.banner-img {
  width: 60%;
  height: auto;
  margin: 32px 40px 32px 24px;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 320px;
}

.banner-content a {
  background-color: #4a4a4a;
  width: 100%;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  transition: all 300ms ease 250ms;
}

.banner-content a:hover {
  background-color: #c5cad7;
  color: #1b202b;
}

/*Banner @1024px*/

@media only screen and (max-width: 1024px) {
  .banner-img {
    width: 50%;
    margin-left: 16px;
  }

  .banner-content a {
    width: 90%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .banner-img {
    width: 100%;
    height: 180px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 0px 0px;
  }

  .banner-img img {
    display: none;
  }

  .banner-content {
    margin: 32px 16px 32px 16px;
    text-align: center;
  }

  .banner-content a,
  .banner-content h1,
  .banner-content h2 {
    width: 100%;
    margin-right: 0px;
  }
}

/*Information*/

.feature-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px 32px 24px;
}

.feature-content img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.feature-content h5 {
  margin-bottom: 24px;
}

.feature-content span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #687083;
  margin-top: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c5cad7;
  padding-bottom: 32px;
  width: 40%;
}

.sidebar div:first-child {
  padding-top: 16px;
}

.sidebar-block {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.sidebar-block img {
  width: 35%;
  margin: 16px 16px 16px 16px;
}

.sidebar-mobile {
  display: none;
}

.textbox {
  margin-right: 16px;
}

.textbox p {
  margin-bottom: 1.25rem;
}

.textbox a {
  color: #404655;
  font-size: 0.9rem;
  text-decoration: none;
}


@media only screen and (max-width: 1024px) {
  .feature-content {
    width: 50%;
    margin-left: 16px;
  }

  .sidebar {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  section.information {
    justify-content: center;
  }
  .feature-content {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar.information {
    display: none;
  }
  .sidebar-mobile {
    display: flex;
    flex-direction: column;
  }
  .sidebar-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .sidebar-block img {
    width: 90%;
    max-width: 480px;
    height: auto;
  }
  .textbox {
    width: 90%;
    margin: 16px 16px 16px 32px;
  }
}

.courses {
  display: block;
}

.courses h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 64px 32px 64px;
}

.course-holder {
  width: 260px;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 16px;
}

.course-holder img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.course-holder .textbox {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.course-holder .textbox span {
  font-weight: 200;
  font-size: 0.9rem;
  color: #687083;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.courses-mobile {
  display: none;
}

/*Courses @1024px*/

@media only screen and (max-width: 1024px) {
  .courses {
    padding-left: 16px;
  }
  .course-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .course-holder {
    margin-left: 16px;
    margin-right: 16px;
  }
}


@media only screen and (max-width: 768px) {
  section.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }

  .courses h5 {
    padding-bottom: 32px;
  }

  .course-container {
    display: none;
  }

  .courses-mobile {
    display: block;
    justify-content: center;
    width: 90%;
    max-width: 480px;
    margin-bottom: 32px;
  }

  .courses-mobile h6 {
    background-color: #c5cad7;
    padding: 16px 0px 16px 16px;
    margin-bottom: 8px;
  }
}

.thesis {
  display: block;
}

.thesis h5 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding: 32px;
}

.thesis-content {
  display: inline-flex;
}

.video {
  margin-right: 16px;
}

video {
  margin-bottom: 24px;
  border: 2px solid #c5cad7;
}

.video-mobile {
  display: none;
}

#thesis {
  border-left: none;
  margin-top: 32px;
}

#thesis div:first-child {
  background-color: #c5cad7;
  padding-top: 0px;
}

@media only screen and (max-width: 1024px) {
  .thesis h5 {
    padding-left: 16px;
    margin-bottom: 16px;
  }
}


@media only screen and (max-width: 768px) {
  .video-mobile {
    display: block;
  }
}


footer {
  height: 64px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #c5cad7;
}

footer span {
  margin-left: 24px;
  font-size: 0.75rem;
  color: #687083;
}

footer nav ul li a {
  font-size: 0.75rem;
  color: #687083;
}


@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }

  footer {
    border-top: 0px solid #c5cad7;
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
